{% extends 'base.html' %}
{% block title %}Accueil{% endblock %}
{% block content %}
<div class="mt-4">
    <div>
        <div class="titreAccueil card-header bg-dark p-3 m-0">
            L'outil ultime de détection de <span class="toxicGreen">toxicité</span> est enfin là, Dont<span class="redVif">Ban</span>Me !
        </div>
        <div class="texteAccueil card-body-acc">
            L'outil vous permet de tester un commentaire via notre IA avancé faisant usage du Deep Learning afin d'obtenir un score de <span class="toxicGreen">toxicité</span> sur 4. <br>
            Notre IA détecte la <span class="toxicGreen">toxicité</span>, l'<span class="roseChair">obscénité</span>, l'<span class="redVif">insulte</span> et la <span class="noirHaine">haine identitaire</span>.
        </div>
        <a href="/comment" class="btn btn__valo btn__valo--blue me-3 text-decoration-none mt-2 w-100">
            <span class="btn__inner">
                <span class="btn__slide__blue"></span>
                <span class="btn__content"><i class="fa-solid fa-shield-halved fa-xl me-2"></i>Vérifier un commentaire</span>
            </span>
        </a>
    </div>
</div>
{% endblock %}