{% extends 'base.html' %}
{% block title %}Commentaire{% endblock %}
{% block content %}

<div class="card-body py-0 px-5">
    <div class="card-header bg-dark p-3 m-0 d-flex justify-content-between align-items-center">
        <h5 class="card-title m-0" id="titleColor">Poster un nouveau commentaire</h5>
    </div>

    <div class="cardStats p-3">
        <form method="post" action="/check_commentaire">
            <div class="d-flex">
                <textarea name="comment" id="comment" class="form-control" rows="6" cols="160" required></textarea>
                <button type="submit" class="btn btn-outline-primary ms-2">Vérifier</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super () }}
<script>
    var resultat = "{{ resultat }}";
    var body = document.querySelector("body");
    var titre = document.getElementById("titleColor");

    if (resultat == 2) {
        toastr.info("Le commentaire est indeterminé.");
        body.classList.add("bg-gradBlue");
        titre.classList.add("cl-gradBlue");
    } else if (resultat == 1) {
        toastr.error("Le commentaire est toxique !");
        body.classList.add("bg-gradRed");
        titre.classList.add("cl-gradRed");
    } else if (resultat == 3) {
        toastr.success("Le commentaire n'est pas toxique.");
        body.classList.add("bg-gradGreen");
        titre.classList.add("cl-gradGreen");
    }
    

</script>
{% endblock %}