{% extends 'base.html' %}
{% block title %}Commentaire{% endblock %}
{% block content %}

<div class="card-body py-0 px-5">
    <div class="card-header bg-dark p-3 m-0 d-flex justify-content-between align-items-center">
        <h5 class="card-title text-white m-0">Poster un nouveau commentaire</h5>
    </div>

    <div class="cardStats p-3">
        <form method="post" action="/check_commentaire">
            <div class="d-flex">
                <textarea name="comment" id="comment" class="form-control" rows="6" cols="160" required></textarea>
                <button type="submit" class="btn btn-outline-primary ms-2">Submit</button>
            </div>
        </form>
    
        <div id="result">
            {% if result %}
                {% if result == "positive" %}
                    <p>Positive comment!</p>
                {% else %}
                    <p>Negative comment.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super () }}
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
{% endblock %}