{% extends 'base.html' %}
{% block title %}Commentaire{% endblock %}
{% block content %}

<div class="card-body py-0 px-5">
    <div class="card-header bg-dark p-3 m-0 d-flex justify-content-between align-items-center">
        <h5 class="card-title m-0" id="titleColor">Poster un nouveau commentaire</h5>
    </div>

    <div id="cardStats" class="cardStats p-3">
        <form method="post" action="/check_commentaire" onsubmit="showLoadingModal()">
            <div class="d-flex">
                <textarea name="comment" id="comment" class="form-control" rows="6" cols="160" required></textarea>
                <button type="submit" class="btn btn-outline-primary ms-2">Vérifier</button>
            </div>
        </form>
        <!-- <span id="score"></span> -->
    </div>
</div>

<!-- Modal de chargement -->
<div class="modal" id="loadingModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center bg-black text-white rounded-3">
                <p>Chargement en cours...</p>
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Chargement...</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super () }}
<script>
    var resultat = "{{ resultat }}";
    var body = document.querySelector("body");
    var titre = document.getElementById("titleColor");
    var scoreElement = document.getElementById("score");
    // var cardStats = document.getElementById("cardStats");

    if (resultat == 2) {
        toastr.info("Le commentaire est indeterminé.");
        body.classList.add("bg-gradBlue");
        titre.classList.add("cl-gradBlue");
    } else if (resultat == 1) {
        toastr.error("Le commentaire est toxique !");
        body.classList.add("bg-gradRed");
        titre.classList.add("cl-gradRed");
    } else if (resultat == 3) {
        toastr.success("Le commentaire n'est pas toxique.");
        body.classList.add("bg-gradGreen");
        titre.classList.add("cl-gradGreen");
    }

    /*
    scoreElement.textContent = "Score : " + score + " / 4";
    if (score == 0) {
        cardStats.classList.remove("pb-2");
        scoreElement.style.display = "none";
    } 
    else {
        cardStats.classList.add("pb-2");
    }

    function showLoadingModal() {
        var loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'), {
            backdrop: 'static',
            keyboard: false
        });
        loadingModal.show();
    }
    */
</script>
{% endblock %}